<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>filez</display-name>

	<welcome-file-list>
		<welcome-file>filez-index.html</welcome-file>
	</welcome-file-list>

	<env-entry>
		<env-entry-name>com.marakana.filez.service.AuthService$Factory.type</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>com.marakana.filez.service.HttpAuthService$Factory</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>com.marakana.filez.service.AuthService$Factory.maxCacheSize</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>2000</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>com.marakana.filez.service.AuthService$Factory.cacheTtlInSeconds</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>1800</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>com.marakana.filez.service.AuthService$Factory.cacheForbidden</env-entry-name>
		<env-entry-type>java.lang.Boolean</env-entry-type>
		<env-entry-value>false</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>com.marakana.filez.web.RealmParser$Factory.type</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>com.marakana.filez.web.PathRealmParser$Factory</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>com.marakana.filez.web.PathRealmParser.pattern</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>^/([^/]+)/([^/]+)/files/.*$</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>com.marakana.filez.web.PathRealmParser.realmGroupId</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>1</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>com.marakana.filez.web.PathRealmParser.contextGroupId</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>2</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>com.marakana.filez.web.UsernameAndPasswordParser$Factory.type</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>com.marakana.filez.web.BasicAuthorizationUsernameAndPasswordParser$Factory</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>com.marakana.filez.service.HttpAuthService.urlFormat</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>https://localhost.marakana.com/authorize/%s/%s</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>com.marakana.filez.web.HostToPathAccessControlFilter.hostnamePattern</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>^([^\.\-]+)-([^\.\-]+)\..+$</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>com.marakana.filez.web.HostToPathAccessControlFilter.pathPattern</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>^/([^/]+)/([^/]+)/files/.*$</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>com.marakana.filez.web.FilezServlet.baseUriPattern</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>^(/class/[0-9]+/files/)(.*)$</env-entry-value>
	</env-entry>

	<filter>
		<filter-name>hostToPathAccessControlFilter</filter-name>
		<filter-class>com.marakana.filez.web.HostToPathAccessControlFilter</filter-class>
	</filter>

	<filter>
		<filter-name>auth</filter-name>
		<filter-class>com.marakana.filez.web.AuthFilter</filter-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>1</param-value>
		</init-param>
	</filter>

	<servlet>
		<servlet-name>filez</servlet-name>
		<servlet-class>com.marakana.filez.web.FilezServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>listings</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>readonly</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>readmeFile</param-name>
			<param-value>README.html</param-value>
		</init-param>
		<init-param>
			<param-name>contextXsltFile</param-name>
			<param-value>/WEB-INF/listing.xslt</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<filter-mapping>
		<filter-name>hostToPathAccessControlFilter</filter-name>
		<url-pattern>/class/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>auth</filter-name>
		<url-pattern>/class/*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/images/*</url-pattern>
		<url-pattern>/scripts/*</url-pattern>
		<url-pattern>/styles/*</url-pattern>
		<url-pattern>/static/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>filez</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>401</error-code>
		<location>/static/401.html</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/static/403.html</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/static/500.html</location>
	</error-page>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>
