body {
	font-family: sans-serif, Arial, Tahoma;
	color: black;
	background-color: white;
	font-size: 16px;
}

h1 {
	color: black;
	font-size: 20px;
	height: 50px;
	background: url('/images/logo-marakana-orange-gray-200x50.png')
		no-repeat top right;
}

a {
	color: black;
}

hr {
	color: #0086b2;
}

table {
	width: 100%;
}

tr {
	height: 20px;
}

tbody tr:nth-child(odd) {
	background-color: #eee;
}

td {
	height: 20px;
}

img.icon {
	width: 16px;
	height: 16px;
	margin-left: 5px;
	vertical-align: text-bottom;
}

h1 img.icon {
	vertical-align: baseline;
}

.file-name,.file-name-header {
	text-align: left;
	height: 16px;
}

.file-size,.file-size-header {
	text-align: right;
	width: 100px;
}

.file-last-modified-date,.file-last-modified-date-header {
	text-align: right;
	width: 250px;
}

.note {
	color: #f90;
}